<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/build.css">
    <!--STYLES END-->

  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <div class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse"><i class="fa fa-bars"></i></div>
        <a class="navbar-brand" href="/"><%- title %></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="http://raisa.su/"><%= __('Home') %></a></li>
          <li class="active"><a href="/"><%= __('EFQ') %></a></li>
          <li><a href="http://raisa.su/rules"><%= __('Rules') %></a></li>
          <li><a href="http://raisa.su/fits"><%= __('Fits') %></a></li>
          <li><a href="http://raisa.su/srp"><%= __('SRP') %></a></li>
          <li><a href="http://raisa.su/guides"><%= __('Guides') %></a></li>
          <li><a href="http://raisa.su/about"><%= __('About') %></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if (session.authenticated) { %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= character %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% if (character.is_admin) { %><li><a href="/admin"><%= __('Admin') %></a></li><% } %>
              <li><a href="/fit"><%= __('Fit') %></a></li>
              <li><a href="/logout"><%= __('Logout') %></a></li>
            </ul>
          </li>
          <% } else if (session.trusted === "Yes" ) { %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= charname %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/login"><%= __('Authenticate') %></a></li>
            </ul>
          </li>
          <% } %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>

    <div class="container-fluid">

      <div data-bind="foreach: messages">
        <div class="alert" data-bind="css: 'alert-' + cls">
            <button type="button" class="close">&times;</button>
            <p data-bind="content"></p>
        </div>
      </div>

<%- body %>

    </div>

    <!--SCRIPTS-->
    <script src="/linker/js/deps/socket.io.js"></script>
    <script src="/linker/js/deps/sails.io.js"></script>
    <script src="/linker/js/deps/knockout.js"></script>
    <script src="/linker/js/deps/knockout-mapping.js"></script>
    <script src="/linker/js/app.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
